:root {
    --main-color: beige;
    --secondary-color: lightgray;
    --highlight-color: darkblue;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.closet{
    border: 2px solid black;
    padding: 15px;
    background-color: var(--main-color);
}
.closet__shoes{
    margin-top: 10px;
    background-color: var(--secondary-color);
}
.closet__shoes--item{
    font-weight: bold;
    color: var(--highlight-color);
}
